<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:amq="http://activemq.apache.org/schema/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.0.xsd
http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core-5.5.0.xsd
">

<!-- ACTIVEMQ JMS STUFF -->

	<!--  lets create an embedded ActiveMQ Broker -->

	<bean id="broker" class="org.apache.activemq.xbean.XBeanBrokerService">
	<property name="useJmx" value="false"></property>
	<property name="persistent" value="true"></property>
	<property name="transportConnectors">
		<bean class="org.apache.activemq.broker.TransportConnector">
			<property name="uri" value="tcp://localhost:0" />
		</bean>
	</property>
	</bean>

  <bean id="connectionFactory" class="org.apache.activemq.spring.ActiveMQXAConnectionFactory"  >
  <property name="brokerURL" value="vm://localhost"></property>
  </bean>


<!-- 
	<bean id="connectionFactory" class="org.apache.activemq.spring.ActiveMQXAConnectionFactory"  >
  <property name="brokerURL" value="tcp://localhost:61616"></property>
  </bean>
 -->

	<!-- JmsTemplate Definition -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
    <property name="connectionFactory" ref="connectionFactory">
    </property>
  </bean>

	
	<bean id="testDestination"
		class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
		<value>TESTQUEUE</value>
		</constructor-arg>
	</bean>
	
	<bean id="testSender" 
		class="com.armus.queue.TestSender">
		<property name="destination" ref="testDestination"></property>
		<property name="jmsTemplate" ref="jmsTemplate"></property>
		</bean>
		
	<bean id="testReceiver" 
		class="com.armus.queue.TestReceiver">
		<property name="destination" ref="testDestination"></property>
		<property name="jmsTemplate" ref="jmsTemplate"></property>
		</bean>
		
	<bean id="jmsExceptionListener"
		class="com.armus.queue.JmsExceptionListener"></bean>

	
<!-- BEGIN WEB -->

	<!-- Exposes beans to an app manager -->
	<bean id="contextApplicationContextProvider" class="com.armus.web.AppContextProvider"></bean>  

	<!-- enables annotation based configuration -->
	<context:annotation-config />
	<!-- scans for annotated classes in the com.company package -->
	<context:component-scan base-package="com.armus.web"></context:component-scan>
 
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>

    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>

	<bean id="testController" class="com.armus.web.TestController">
    </bean>
    <!-- 
    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
	-->
	
</beans>
